@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>

    <input type="text" value="4" placeholder="default 4" />
    <input type="button">Start

    <form method="post">
        <p>
            how many images do you want to enter
        </p>
        <input asp-for="Customer!.Name" />
        <input type="submit" />
    </form>
</div>