@page
@model ManipulateImages.Pages.ShowImagesModel
@{
}

@{
    foreach (var x in Model.ImagesAll)
    {
        <div>
            <img src=@x.imagUrl>
            <label for=@x.imagUrl></label>
            <input type="url" id=@x.ID.ToString() ; name="imageURL" />
        </div>
    }
}
